@using Microsoft.AspNet.Identity
@model dynamic
@{
    var customerId = base.User.Identity.GetUserId<int>();
}

<div ng-controller="AccountController as ctrl" ng-init="ctrl.init(@customerId)">
    <!-- Internal account-to-account transfer window template -->
    <script type="text/ng-template" id="internalTransfer.html">
        <div class="modal-header">
            <h3 class="modal-title">Internal account-to-account transfer</h3>
        </div>
        <div class="modal-body">
            <span class="help-block" ng-bind="errors.Summary"></span>
            <div class="form-group" ng-class="{ 'has-error': errors.SourceAccount }">
                <label>Select a source account:</label>
                <select class="form-control" ng-model="selectedSourceAccount" ng-change="updateDestAccounts()">
                    <option ng-repeat="x in sourceAccounts" value="{{x.AccountNumber}}">{{x.AccountNumber}} ({{x.Currency}} - {{x.Balance}})</option>
                </select>
                <span class="help-block" ng-bind="errors.SourceAccount"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': errors.DestAccount }">
                <label>Select a destination account:</label>
                <select class="form-control" ng-model="selectedDestAccount">
                    <option ng-repeat="x in destAccounts" value="{{x.AccountNumber}}">{{x.AccountNumber}} ({{x.Currency}} - {{x.Balance}})</option>
                </select>
                <span class="help-block" ng-bind="errors.DestAccount"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': errors.Amount }">
                <label>Amout to transfer</label>
                <input type="number" class="form-control" ng-model="amountToTransfer" />
                <span class="help-block" ng-bind="errors.Amount"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="transfer()">Transfer</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- External account-to-account transfer window template -->
    <script type="text/ng-template" id="externalTransfer.html">
        <div class="modal-header">
            <h3 class="modal-title">Transfer by account number</h3>
        </div>
        <div class="modal-body">
            <span class="help-block" ng-bind="errors.Summary"></span>
            <div class="form-group" ng-class="{ 'has-error': errors.SourceAccount }">
                <label>Select a source account:</label>
                <select class="form-control" ng-model="selectedSourceAccount" ng-change="updateDestAccounts()">
                    <option ng-repeat="x in sourceAccounts" value="{{x.AccountNumber}}">{{x.AccountNumber}} ({{x.Currency}} - {{x.Balance}})</option>
                </select>
                <span class="help-block" ng-bind="errors.SourceAccount"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': errors.DestAccount }">
                <label>Enter a number of the destination account:</label>
                <input type="text" ng-model="destAccountNumber" class="form-control"/>
                <span class="help-block" ng-bind="errors.DestAccount"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': errors.Amount }">
                <label>Amout to transfer</label>
                <input type="number" class="form-control" ng-model="amountToTransfer" />
                <span class="help-block" ng-bind="errors.Amount"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="transfer()">Transfer</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- list of user's accounts -->
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Actions</div>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="ctrl.makeInternalTransfer()">Internal transfers</a>
                    <a href="#" class="list-group-item" ng-click="ctrl.makeSpecialStransfer()">Transfer to a specified account</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Your Accounts</div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Currency</th>
                        <th>Balance</th>
                        <th>Card Number</th>
                        <th>Card Expire Date</th>
                        <th>Card Holder</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in ctrl.accounts">
                        <td>{{x.AccountNumber}}</td>
                        <td>{{x.Currency}}</td>
                        <td>{{x.Balance}}</td>
                        <td>{{x.CardNumber}}</td>
                        <td>{{x.CardExpiration}}</td>
                        <td>{{x.CardHolder}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">journals</div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in ctrl.journals">
                        <td>{{x.DateCreated}}</td>
                        <td>{{x.Description}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/site/accountController.js"></script>
}